<!--
 Group: #3 - Neo-Cortical Repository
 Class: CS 425
 Date: 12/12/2013
 
 This page uses the form to activate a user account. -->
<div class="container page" ng-show="route=='activation'">
	<h3>Account Activation Form</h3>
	<h5>An email was transmitted to <strong id="inputActivationEmail">{{'{{logged}}'}}</strong> with an activation code enclosed. 
	Please take a moment to check your email. Copy and paste the activation code in the corresponding space below to confirm 
	activation of your account. If you cannot find an email from us, check your spam folder. If need be, you can request that we 
	send you another email as well.</h5>	
    <form class="form-horizontal" role="form" id="activationForm" name="activation" ng-submit="activateUser()" novalidate>
			<!-- Create a new account with info 
			 Form data sent to python, packaged, and put in db -->
			<div class="form-group">
				<label for="inputActivationCode" min-length="1" class="col-md-2 control-label">Activation Code</label>
				<div class="col-sm-10">
					<input id="inputActivationCode" name="acode" type="text" class="form-control" data-ng-model="activationCode" required>
					<div class="error" ng-show="activation.acode.$dirty && activation.acode.$invalid">
						Error: <span class="error" ng-show="activation.acode.$error.required">You must enter your code.</span>
					</div>
				</div>	
			</div>
			<div class="btn-group pull-right">
				<button type="submit" class="btn btn-primary" ng-disabled="activation.$invalid">Activate Account!</button>
				<button type="button" class="btn btn-warning" ng-click="resendActivation()">Resend Email</button>
			</div>
        </form>
    </div>
</div>
