<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputAlphaA" class="col-md-1 control-label"> AA</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputAlphaA" ng-model="HHVGIParams[0][0]" placeholder="A">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputAlphaB" class="col-md-1 control-label"> AB</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputAlphaB" ng-model="HHVGIParams[0][1]" placeholder="B">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputAlphaC" class="col-md-1 control-label"> AC</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputAlphaC" ng-model="HHVGIParams[0][2]" placeholder="C">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputAlphaD" class="col-md-1 control-label"> AD</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputAlphaD" ng-model="HHVGIParams[0][3]" placeholder="D">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputAlphaF" class="col-md-1 control-label"> AF</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputAlphaF" ng-model="HHVGIParams[0][4]" placeholder="F">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputAlphaH" class="col-md-1 control-label"> AH</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputAlphaH" ng-model="HHVGIParams[0][5]" placeholder="H">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>