<!-- Beta collapsible as a subgroup of the HH VGI channel search collapsible -->
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputBetaA" class="col-md-1 control-label"> BA</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputBetaA" ng-model="HHVGIParams[1][0]" placeholder="A">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputBetaB" class="col-md-1 control-label"> BB</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputBetaB" ng-model="HHVGIParams[1][1]" placeholder="B">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputBetaC" class="col-md-1 control-label"> BC</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputBetaC" ng-model="HHVGIParams[1][2]" placeholder="C">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputBetaD" class="col-md-1 control-label"> BD</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputBetaD" ng-model="HHVGIParams[1][3]" placeholder="D">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputBetaF" class="col-md-1 control-label"> BF</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputBetaF" ng-model="HHVGIParams[1][4]" placeholder="F">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputBetaH" class="col-md-1 control-label"> BH</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputBetaH" ng-model="HHVGIParams[1][5]" placeholder="H">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>