<!-- Hodgkin Huxley Voltage Gated Ion Channel type with alpha and beta subgroups. Hold all the parameter values to be searched -->
<!-- Alpha Params Dropdown -->
<div class="size collapse-group">
    <button class="btn-group-justified btn-success" data-toggle="collapse" data-target="#alphaParams">
        Alpha Parameters
    </button>
    
    <div class="collapse" id="alphaParams">
        {% include 'pages/database/components/searchComponents/channeltypes/HHVGIAlphaCollapse.html' %} 
    </div>
</div>

<!-- Beta Params Dropdown -->
<div class="size collapse-group">
    <button class="btn-group-justified btn-success" data-toggle="collapse" data-target="#betaParams">
        Beta Parameters
    </button>
    
    <div class="collapse" id="betaParams">
       {% include 'pages/database/components/searchComponents/channeltypes/HHVGIBetaCollapse.html' %}
    </div>
</div>

<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputPower" class="col-md-1 control-label"> P</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputPower" ng-model="HHVGIParams[2]" placeholder="Power">
            
		<span class="input-group-btn">
			<button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
				<span class="glyphicon glyphicon-search"></span>
			</button> 
		</span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputAlphaXInitial" class="col-md-1 control-label"> X</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputAlphaXInitial"  ng-model="HHVGIParams[3]" placeholder="X-Initial">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<!-- Non Particle -->
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputConductance" class="col-md-1 control-label"> C</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputConductance"  ng-model="HHVGIParams[4]" placeholder="Conductance">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="HHVGIInputReversalPotential" class="col-md-1 control-label"> X</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="HHVGIInputReversalPotential"  ng-model="HHVGIParams[5]" placeholder="Reversal Potential">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
