<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFCDInputMInitial" class="col-md-1 control-label"> M</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFCDInputMInitial" ng-model="LIFCDParams[0]" placeholder="M Initial">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFCDInputReversalPotential" class="col-md-1 control-label"> R</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFCDInputReversalPotential" ng-model="LIFCDParams[1]" placeholder="Reverse Potential">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFCDInputConductance" class="col-md-1 control-label"> C</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFCDInputConductance" ng-model="LIFCDParams[2]" placeholder="Conductance">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFCDInputBackwardsRate" class="col-md-1 control-label"> B</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFCDInputBackwardsRate" ng-model="LIFCDParams[3]" placeholder="Backwards Rate">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFCDInputForwardScale" class="col-md-1 control-label"> FS</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFCDInputForwardScale" ng-model="LIFCDParams[4]" placeholder="Forward Scale">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFCDInputForwardExponent" class="col-md-1 control-label"> FE</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFCDInputForwardExponent" ng-model="LIFCDParams[5]" placeholder="Forward Exponent">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFCDInputTauScale" class="col-md-1 control-label"> T</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFCDInputTauScale" ng-model="LIFCDParams[6]" placeholder="Tau Scale">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
