<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFVGIInputVHalf" class="col-md-1 control-label"> V</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFVGIInputVHalf" ng-model="LIFVGIParams[0]" placeholder="V Half">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFVGITransitionRate" class="col-md-1 control-label"> T</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFVGITransitionRate" ng-model="LIFVGIParams[1]" placeholder="Transition Rate">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFVGIActivationSlope" class="col-md-1 control-label"> A</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFVGIActivationSlope" ng-model="LIFVGIParams[2]" placeholder="Activation Slope">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFVGIDeactivationSlope" class="col-md-1 control-label"> D</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFVGIDeactivationSlope" ng-model="LIFVGIParams[3]" placeholder="Deactivation Slope">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFVGIEquilibriumSlope" class="col-md-1 control-label"> E</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFVGIEquilibriumSlope" ng-model="LIFVGIParams[4]" placeholder="Equilibrium Slope">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFVGIConductane" class="col-md-1 control-label"> C</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFVGIConductane" ng-model="LIFVGIParams[5]" placeholder="Conductance">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFVGIReversalPotential" class="col-md-1 control-label"> R</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFVGIReversalPotential" ng-model="LIFVGIParams[6]" placeholder="Reverse Potential">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="LIFVGIMInitial" class="col-md-1 control-label"> M</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="LIFVGIMInitial" ng-model="LIFVGIParams[7]" placeholder="M Initial">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
