<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Threshold</th>
            <th>Resting Potential</th>
            <th>Capcitance</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{'{{ selectedModel.specification.threshhold}}'}}</td>
            <td>{{'{{ selectedModel.specification.resting_potential.type}}'}} : 
            {{'{{ selectedModel.specification.resting_potential.min}}'}} , 
            {{'{{ selectedModel.specification.resting_potential.max}}'}}</td>
            <td>{{'{{ selectedModel.specification.capacitance}}'}}</td>

        </tr>
    </tbody>
</table>

<h3>Channels </h3>
<!-- Channels Table -->
<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{'{{ selectedModel.specification.channels}}'}}</td>
        </tr>
    </tbody>
</table>
