<table class="table table-bordered table-hover" > 
    <thead>
        <tr>
            <th>Conductance</th>
            <th>Reversal Potential</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  {{'{{ selectedModel.specification.conductance}}'}}</td>
            <td>  {{'{{ selectedModel.specification.reversal_potential}}'}}</td>
        </tr>
    </tbody>
</table>

<h2>Particles</h2>
<table class="table table-bordered table-hover" > 
    <thead>
        <tr>
            <th>X Initial</th>
            <th>Alpha</th>
            <th>Beta</th>
            <th>Power</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  {{'{{ selectedModel.specification.particles.x_initial}}'}}</td>
            <td> <b>A</b> : {{'{{ selectedModel.specification.particles.alpha.a}}'}},
                 <b>B</b> : {{'{{ selectedModel.specification.particles.alpha.b}}'}},
                 <b>C</b> : {{'{{ selectedModel.specification.particles.alpha.c}}'}},
                 <b>D</b> : {{'{{ selectedModel.specification.particles.alpha.d}}'}},
                 <b>F</b> : {{'{{ selectedModel.specification.particles.alpha.f}}'}},
                 <b>H</b> : {{'{{ selectedModel.specification.particles.alpha.h}}'}}
            </td>
            <td> <b>A</b> : {{'{{ selectedModel.specification.particles.beta.a}}'}},
                <b>B</b> : {{'{{ selectedModel.specification.particles.beta.b}}'}},
                <b>C</b> : {{'{{ selectedModel.specification.particles.beta.c}}'}},
                <b>D</b> : {{'{{ selectedModel.specification.particles.beta.d}}'}},
                <b>F</b> : {{'{{ selectedModel.specification.particles.beta.f}}'}},
                <b>H</b> : {{'{{ selectedModel.specification.particles.beta.h}}'}}
            </td>            <td> {{'{{ selectedModel.specification.particles.power}}'}}</td>

        </tr>
    </tbody>
</table>