<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>U</th>
            <th>V</th>
            <th>Threshold</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-md-3">{{'{{ selectedModel.specification.a}}'}}</td>
            <td class="col-md-1">{{'{{ selectedModel.specification.b}}'}}</td>
            <td class="col-md-1">{{'{{ selectedModel.specification.c}}'}}</td>
            <td class="col-md-1">{{'{{ selectedModel.specification.d}}'}}</td>
            <td class="col-md-1">{{'{{ selectedModel.specification.u}}'}}</td>
            <td class="col-md-1">{{'{{ selectedModel.specification.v}}'}}</td>
            <td class="col-md-1">{{'{{ selectedModel.specification.threshold}}'}}</td>
        </tr>
    </tbody>
</table>
