<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Tau Membrane</th>
            <th>Leak Conductance</th>
            <th>Leak Reversal Potential</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{'{{ selectedModel.specification.tau_membrane}}'}}</td>
            <td>{{'{{ selectedModel.specification.leak_conductance}}'}}</td>
            <td>{{'{{ selectedModel.specification.leak_reversal_potential}}'}}</td>
        </tr>
    </tbody>
</table>


<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Calcium Spike Increment</th>
            <th>Spikeshape</th>
            <th>Tau Calcium</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  {{'{{ selectedModel.specification.calcium_spike_increment}}'}}</td>
            <td>  {{'{{ selectedModel.specification.spikeshape}}'}}</td> 
            <td>  {{'{{ selectedModel.specification.tau_calcium}}'}}</td> 
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Calcium Type</th>
            <th>Standard Deviation</th>
            <th>Mean</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  {{'{{ selectedModel.specification.calcium.type}}'}}</td>
            <td>  {{'{{ selectedModel.specification.calcium.standard_deviation}}'}}</td> 
            <td>  {{'{{ selectedModel.specification.calcium.mean}}'}}</td> 
        </tr>
    </tbody>
</table>


<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>R Membrane </th>
            <th>Threshold</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  {{'{{ selectedModel.specification.r_membrane}}'}}</td> 
            <td>  {{'{{ selectedModel.specification.threshhold}}'}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover" > <!--data-ng-controller="DBController"> -->
    <thead>
        <tr>
            <th>Resting Potential Type </th>
            <th>Maximum</th>
            <th>Minimum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>  {{'{{ selectedModel.specification.resting_potential.type}}'}}</td> 
            <td>  {{'{{ selectedModel.specification.resting_potential.max}}'}}</td> 
            <td>  {{'{{ selectedModel.specification.resting_potential.min}}'}}</td> 

        </tr>
    </tbody>
</table>
<!-- Channels Table -->
<p>
	<strong>Channels</strong>
</p>
<p>
	<a ng-repeat="channel in selectedModel.specification.channels" href="#" ng-click="showdetails(channel)">
		{{'{{ channel.entity_name}}'}}
	</a>
</p>
