<table class="table table-bordered table-hover" > 
    <thead>
        <tr>
            <th>Tau Facilitation</th>
            <th>Tau Limited</th>
            <th>Tau Post Synaptic Conductance</th>
            <th>Tau Depression </th>
            <th>Tau LTP </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{'{{ selectedModel.specification.tau_facilitation}}'}}</td>
            <td>  {{'{{ selectedModel.specification.tau_ltd}}'}}</td>
            <td>  {{'{{ selectedModel.specification.tau_postsynaptic_conductance}}'}}</td>
            <td>  {{'{{ selectedModel.specification.tau_depression}}'}}</td>
            <td>  {{'{{ selectedModel.specification.tau_ltp}}'}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover" > 
    <thead>
        <tr>
            <th>PSG Waveform Duration</th>
            <th>Last Prefire Time</th>
            <th>Last Postfire Time </th>
            <th>Utilization</th>
            <th>A Limited Minimum</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{'{{ selectedModel.specification.psg_waveform_duration}}'}}</td>
            <td>  {{'{{ selectedModel.specification.last_prefire_time}}'}}</td>
            <td>  {{'{{ selectedModel.specification.last_postfire_time}}'}}</td>
            <td>  {{'{{ selectedModel.specification.utilization}}'}}</td>
            <td>  {{'{{ selectedModel.specification.a_limited_minimum}}'}}</td>
        </tr>
    </tbody>
</table>



<table class="table table-bordered table-hover" > 
    <thead>
        <tr>
            <th>Max Conductance</th>
            <th>Reversal Potential</th>
            <th>A LTP Minimum</th>
            <th>Redistribution</th>
            <th>Delay</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{'{{ selectedModel.specification.max_conductance}}'}}</td>
            <td>  {{'{{ selectedModel.specification.reversal_potential}}'}}</td>
            <td>  {{'{{ selectedModel.specification.a_ltp_minimum}}'}}</td>
            <td>  {{'{{ selectedModel.specification.redistribution}}'}}</td>
            <td>  {{'{{ selectedModel.specification.delay}}'}}</td>
        </tr>
    </tbody>
</table>