<table class="table table-bordered table-hover" > 
    <thead>
        <tr>
            <th>Time Start</th>
            <th>Time End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{'{{ selectedModel.specification.time_start}}'}}</td>
            <td>  {{'{{ selectedModel.specification.time_end}}'}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover" > 
    <thead>
        <tr>
            <th>Probability</th>
            <th>Width</th>
            <th>Frequency</th>
            <th>Amplitude</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{'{{ selectedModel.specification.probability}}'}}</td>
            <td>  {{'{{ selectedModel.specification.width}}'}}</td>
            <td>  {{'{{ selectedModel.specification.frequency}}'}}</td>
            <td>  {{'{{ selectedModel.specification.amplitude}}'}}</td>
        </tr>
    </tbody>
</table>