<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> TF</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Tau Facilitation">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> TL</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Tau Limited">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> PWD</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="PSG Waveform Duaration">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> Pr</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Last Prefire Time">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> Po</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Last Postfire Time">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> U</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Utilization">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> ALM</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="A Limited Medium">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> TD</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Tau Depression">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> D</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Delay">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> M</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Max Conductance">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> R</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Reversal Potential">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> TL</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Tau LTP">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> ALM</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="A LTP Minimum">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> Re</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Redistribution">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>