<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> TF</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Tau Facilitation">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> TL</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Tau Limited">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> PWD</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="PSG Waveform Duaration">
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> Pr</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Last Prefire Time">
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> Po</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Last Postfire Time">
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> U</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Utilization">
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> ALM</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="A Limited Medium">
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> TD</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Tau Depression">
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> D</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Delay">
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> M</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Max Conductance">
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> R</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Reversal Potential">
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> TL</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Tau LTP">
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> ALM</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="A LTP Minimum">
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IzhA" class="col-md-1 control-label"> Re</label>
	<div class="col-md-9">
		<input type="email" class="form-control input-sm" id="InputName" placeholder="Redistribution">
            </div>
</div>