<div class="form-group" style="margin-bottom: 0px;">
	<label for="VGParticles" class="col-md-1 control-label"> P</label>
	<div class="col-md-8">
		<input type="search" class="form-control input-sm" id="VGParticles" placeholder="Particles" 
		ng-model="VGParams[0]" ng-change="filterModelsByString()">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="VGConductance" class="col-md-1 control-label"> C</label>
	<div class="col-md-8">
		<input type="search" class="form-control input-sm" id="VGConductance" placeholder="Conductance"
		ng-model="VGParams[1]" ng-change="filterModelsByString()">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="VGReversePotential" class="col-md-1 control-label"> R</label>
	<div class="col-md-8">
		<input type="search" class="form-control input-sm" id="VGReversePotential" placeholder="Reverse Potential"
		ng-model="VGParams[2]" ng-change="filterModelsByString()">
	</div>
</div>
