<div class="row">
	<div class= "col-md-9 col-md-offset-2">
		<ul class="pagination">
			<li ng-class="{disabled: currentPage == 0}"><a href="" ng-click="goToPage(0)">
				<span class="glyphicon glyphicon-fast-backward"></span></a></li>
			<li ng-class="{disabled: currentPage == 0}"><a href="" ng-click="goToPage(currentPage-1)">
				<span class="glyphicon glyphicon-chevron-left"></span></a></li>
			<li ng-repeat="n in [] | range:15" ng-class="{active: currentPage == n+pageOffset, disabled: n+pageOffset > numberOfPages()-1}"</li><a href="" ng-click="goToPage(n+pageOffset)">{{ '{{n+pageOffset+1}}' }}</a></li>
			<li ng-class="{disabled: currentPage >= numberOfPages()-1}"><a href="" ng-click="goToPage(currentPage+1)">
				<span class="glyphicon glyphicon-chevron-right"></span></a></li>
			<li ng-class="{disabled: currentPage >= numberOfPages()-1}"><a href="" ng-click="goToPage(numberOfPages()-1)">
				<span class="glyphicon glyphicon-fast-forward"></span></a></li>
		</ul>
	</div>
</div>
