<!-- 
 This page is the left search panel containing the searchable parameters
 Each of the search groups is included below.
 
 Ng models are related to the parameter arrays in the DBController.js 
 Search function is called when changing type check boxes or clicking the search icons
 
 All of the types are broken down into collapsibles
 -->
<form class="form-horizontal" role="form">
    {% include 'pages/database/components/searchComponents/NeuronSearch.html' %}
    {% include 'pages/database/components/searchComponents/NeuronGroupSearch.html' %}
    {% include 'pages/database/components/searchComponents/ChannelSearch.html' %}
    {% include 'pages/database/components/searchComponents/SynapseSearch.html' %}
    {% include 'pages/database/components/searchComponents/StimulusSearch.html' %}
    {% include 'pages/database/components/searchComponents/GeneralSearch.html' %}
</form>
