<form class="form-horizontal" role="form">
<div class="checkbox" ng-model="checked">
	<label>
		<input type="checkbox" ng-model="izhBinary" ng-change="filterModels()"> 
		<div class="size collapse-group">
			<a data-toggle="collapse" data-target="#izhoptions">Izhikevich</a>
		</div>  
	</label>
</div>
<div class="collapse" id="izhoptions">
	{% include 'pages/database/components/searchComponents/neurontypes/IZHNeuronCollapse.html' %}
</div>         
<div class="checkbox">
	<label>
		<input type="checkbox" ng-model="HHBinary" ng-change="filterModels()"> 
		<div class="size collapse-group">
			<a data-toggle="collapse" data-target="#hhoptions">Hodgkin Huxley</a>
		</div>  
	</label>
</div>
<div class="collapse" id="hhoptions">
	{% include 'pages/database/components/searchComponents/neurontypes/HHNeuronCollapse.html' %}
</div>
<div class="checkbox">
	<label>
		<input type="checkbox" ng-model="NCRBinary" ng-change="filterModels()"> 
		<div class="size collapse-group">
			<a data-toggle="collapse" data-target="#ncsoptions">NCS</a>
		</div>  
	</label>
</div>
<div class="collapse" id="ncsoptions">
	{% include 'pages/database/components/searchComponents/neurontypes/NCSNeuronCollapse.html' %}
</div>
<div class="checkbox">
	<label>
		<input type="checkbox" ng-model="VGBinary" ng-change="filterModels()"> 
		<div class="size collapse-group">
			<a data-toggle="collapse" data-target="#vgpoptions">HH Voltage Gated Ion</a>
		</div>  
	</label>
</div>		
<div class="collapse" id="vgpoptions">
	{% include 'pages/database/components/searchComponents/channeltypes/VoltageGatedParticleChannelCollapse.html' %}
</div> 
<div class="checkbox">
	<label>
		<input type="checkbox" ng-model="VGIBinary" ng-change="filterModels()"> 
		<div class="size collapse-group">
			<a data-toggle="collapse" data-target="#vgioptions">LIF Voltage Gated Ion</a>
		</div>  
	</label>
</div>
<div class="collapse" id="vgioptions">
	{% include 'pages/database/components/searchComponents/channeltypes/VoltageGatedIonChannelCollapse.html' %}
</div>    
<div class="checkbox">
	<label>
		<input type="checkbox" ng-model="CDBinary" ng-change="filterModels()"> 
		<div class="size collapse-group">
			<a data-toggle="collapse" data-target="#cdoptions">LIF Calcium Dependent</a>
		</div>  
	</label>
</div>
<div class="collapse" id="cdoptions">
	{% include 'pages/database/components/searchComponents/channeltypes/CalciumDependentChannelCollapse.html' %}
</div>    
<div class="form-group" style="margin-bottom: 0px;">
	<label for="FilterName" class="col-md-3 control-label" > Name</label>
	<div class="col-md-9">
		<input type="search" class="form-control input-sm" id="FilterName" ng-model="nameFilter" 
		placeholder="input model name" ng-change="filterModelsByString()">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="FilterAuthor" class="col-md-3 control-label"> Author</label>
	<div class="col-md-9">
		<input type="search" class="form-control input-sm" id="FilterAuthor" ng-model="authorFilter" 
		placeholder="input model author"  ng-change="filterModelsByString()">
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="FilterDetails" class="col-md-3 control-label"> Details</label>
	<div class="col-md-9">
		<input type="search" class="form-control input-sm" id="FilterDetails" ng-model="detailsFilter" 
		placeholder="input details & notes"  ng-change="filterModelsByString()">
	</div>
</div>
</form>
