<!-- Rectangular Current subgroup of Stimulus type search.
 Shows parameters that can be searched-->
<div class="form-group" style="margin-bottom: 0px;">
	<label for="RCStimInputTimeStart" class="col-md-1 control-label">TS</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="RCStimInputTimeStart" ng-model="RCStimParams[0]" placeholder="Time Start">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
    </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="RCStimInputTimeEnd" class="col-md-1 control-label">TE</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="RCStimInputTimeEnd" ng-model="RCStimParams[1]" placeholder="Time End">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
    </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="RCStimInputProbability" class="col-md-1 control-label">P</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="RCStimInputProbability" ng-model="RCStimParams[2]" placeholder="Probability">
		<span class="input-group-btn">
			<button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
				<span class="glyphicon glyphicon-search"></span>
			</button> 
		</span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="RCStimInputWidth" class="col-md-1 control-label">W</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="RCStimInputWidth"  ng-model="RCStimParams[3]" placeholder="Width">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="RCStimInputFrequency" class="col-md-1 control-label"> W</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="RCStimInputFrequency"  ng-model="RCStimParams[4]" placeholder="Frequency">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="RCStimInputAmplitude" class="col-md-1 control-label"> A</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="RCStimInputAmplitude"  ng-model="RCStimParams[5]" placeholder="Amplitude">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
