<!-- Modal -->
<div class="modal-content">	
	<div class="modal-body">
		<h4><strong class="modal-title">Model Name : </strong>{{'{{selectedModel.entity_name}}'}}</h4>
		<h4><strong>Description: </strong> {{'{{selectedModel.description}}'}}</h4>
		<h4><strong>Author: </strong> {{'{{selectedModel.author}}'}} <button type="button" class="btn btn-primary btn-xs" ng-click="promoteModel()"><span class="glyphicon glyphicon-envelope"></span> Message</h4>
		<h4><strong>Promotions: </strong> {{'{{selectedModel.votes.length}}'}}.</h4>
		<div ng-show="selectedModel.specification.type == 'izhikevich'">
			{% include 'pages/database/components/detailComponents/detailTables/izhDetails.html' %}
		</div>
		<div ng-show="selectedModel.specification.type == 'hh'">
			{% include 'pages/database/components/detailComponents/detailTables/hhDetails.html' %}
		</div>
		<div ng-show="selectedModel.specification.type == 'ncs'">
			{% include 'pages/database/components/detailComponents/detailTables/ncsDetails.html' %}
		</div>
		<div ng-show="selectedModel.specification.type == 'lif_calcium_dependant'">
			{% include 'pages/database/components/detailComponents/detailTables/LIFCDDetails.html' %}
		</div>
		<div ng-show="selectedModel.specification.type == 'lif_voltage_gated_ion'">
			{% include 'pages/database/components/detailComponents/detailTables/LIFVGIDetails.html' %}
		</div>
		<div ng-show="selectedModel.specification.type == 'hh_voltage_gated_ion'">
			{% include 'pages/database/components/detailComponents/detailTables/HHVGIDetails.html' %}
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success" ng-hide="promoted" ng-click="promoteModel()"><span class="glyphicon glyphicon-star"></span>Promote</button>
		<button type="button" class="btn btn-danger" ng-show="promoted" ng-click="demoteModel()"><span class="glyphicon glyphicon-minus"></span>Demote</button>
		<button type="button" class="btn btn-warning" ng-show="canEdit()" ng-click="editModel()"><span class="glyphicon glyphicon-pencil"></span>Edit</button>
		<button type="button" class="btn btn-default" ng-click="hideDetails()">Close</button>
	</div>
</div><!-- /.modal-content -->
