<div class="form-group" style="margin-bottom: 0px;">
	<label for="NGConnectionSynapse" class="col-md-1 control-label"> S</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="NGConnectionSynapse" ng-model="NGParams[2][0]" placeholder="Synapse">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="NGConnectionRecurrent" class="col-md-1 control-label"> R</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="NGConnectionRecurrent" ng-model="NGParams[2][1]" placeholder="Recurrent">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="NGConnectionPresynaptic" class="col-md-1 control-label"> Pre</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="NGConnectionPresynaptic" ng-model="NGParams[2][2]" placeholder="Pre Synaptic">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="NGConnectionPostsynaptic" class="col-md-1 control-label"> Po</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="NGConnectionPostsynaptic" ng-model="NGParams[2][3]" placeholder="Post Synaptic">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="NGConnectionProbability" class="col-md-1 control-label"> Pr</label>
	<div class="input-group col-md-9">
		<input type="email" class="form-control input-sm" id="NGConnectionProbability" ng-model="NGParams[2][4]" placeholder="Probability">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>

