<div class="size collapse-group">
    <button class="btn-group-justified btn-primary" data-toggle="collapse" data-target="#channelTypes">
        Channels
    </button>
    <div class="collapse" id="channelTypes">

    
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="VGBinary" ng-change="filterModels()"> 
                <div class="size collapse-group">
                    <a data-toggle="collapse" data-target="#vgpoptions">HH Voltage Gated Ion</a>
                </div>  
                </label>
    </div>		
    <div class="collapse" id="vgpoptions">
        {% include 'pages/database/components/searchComponents/channeltypes/VoltageGatedParticleChannelCollapse.html' %}
    </div> 
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="VGIBinary" ng-change="filterModels()"> 
                <div class="size collapse-group">
                    <a data-toggle="collapse" data-target="#vgioptions">LIF Voltage Gated Ion</a>
                </div>  
                </label>
    </div>
    <div class="collapse" id="vgioptions">
        {% include 'pages/database/components/searchComponents/channeltypes/VoltageGatedIonChannelCollapse.html' %}
    </div>    
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="CDBinary" ng-change="filterModels()"> 
                <div class="size collapse-group">
                    <a data-toggle="collapse" data-target="#cdoptions">LIF Calcium Dependent</a>
                </div>  
                </label>
    </div>
    <div class="collapse" id="cdoptions">
        {% include 'pages/database/components/searchComponents/channeltypes/CalciumDependentChannelCollapse.html' %}
    </div>    
    </div>
</div>