<div class="size collapse-group">
    <button class="btn-group-justified btn-primary" data-toggle="collapse" data-target="#general">General</button>
    
    <div class="collapse" id="general">
		<!-- Author, Email, Description, etc. -->
		<div class="form-group" style="margin-bottom: 0px;">
			<label for="FilterName" class="col-md-3 control-label" > Name</label>
			<div class="col-md-9">
				<input type="search" class="form-control input-sm" id="FilterName" ng-model="nameFilter" 
					placeholder="input model name" minlength="1" ng-change="filterModelsByString()">
					</div>
		</div>
		<div class="form-group" style="margin-bottom: 0px;">
			<label for="FilterAuthor" class="col-md-3 control-label"> Author</label>
			<div class="col-md-9">
				<input type="search" class="form-control input-sm" id="FilterAuthor" ng-model="authorFilter" 
					placeholder="input model author" minlength="1" ng-change="filterModelsByString()">
			</div>
		</div>
		<div class="form-group" style="margin-bottom: 0px;">
			<label for="FilterDetails" class="col-md-3 control-label"> Details</label>
			<div class="col-md-9">
				<input type="search" class="form-control input-sm" id="FilterDetails" ng-model="detailsFilter" 
					placeholder="input details & notes" minlength="1" ng-change="filterModelsByString()">
			</div>
		</div> 
		<div class="form-group" style="margin-bottom: 0px;">
			<label for="filterScopeSelect" class="col-md-3 control-label"> Scope</label>
			<div class="col-md-9">
				<select id="filterScopeSelect" name="filterScope" ng-model="scopeFilter" ng-change="filterModelsByString()">
				</select>
			</div>
		</div>
	</div>
</div>
