<div class="form-group" style="margin-bottom: 0px;">
	<label for="IZHInputA" class="col-md-1 control-label"> A</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="IZHInputA" ng-model="IZHParams[0]" placeholder="A">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IZHInputB" class="col-md-1 control-label"> B</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="IZHInputB" ng-model="IZHParams[1]" placeholder="B">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IZHInputC" class="col-md-1 control-label"> C</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="IZHInputC" ng-model="IZHParams[2]" placeholder="C">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IZHInputD" class="col-md-1 control-label"> D</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="IZHInputD" ng-model="IZHParams[3]" placeholder="D">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IZHInputU" class="col-md-1 control-label"> U</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="IZHInputU" ng-model="IZHParams[4]" placeholder="U">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IZHInputV" class="col-md-1 control-label"> V</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="IZHInputV" ng-model="IZHParams[5]" placeholder="V">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
	</div>
</div>
<div class="form-group" style="margin-bottom: 0px;">
	<label for="IZHInputThreshold" class="col-md-1 control-label"> V</label>
	<div class="input-group col-md-9">
		<input type="text" class="form-control input-sm" id="IZHInputThreshold" ng-model="IZHParams[6]" placeholder="Threshold">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="filterModels()">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </span>
            </div>
</div>
